#
#  Copyright © 2022 Mateusz Stompór. All rights reserved.
#

# Build directories
distribution
auxilary

# Build artifacts
*.log
*.aux
*.lof
*.pdf
*.toc
*.gz
*.lol
*.out
*.fls
*.fdb_latexmk

# Temporary files
*.swp
*(busy)
